
// 主文字颜色

$tih: #000
$tih-fcs: #000
.tih
    color: $tih
    &:hover, &:active, &:focus, &:focus-visible
        color: $tih-fcs
.tih-imp
    color: $tih !important
    &:hover, &:active, &:focus, &:focus-visible
        color: $tih-fcs !important
    
$tit: #121212
$tit-fcs: #080808
.tit
    color: $tit
    &:hover, &:active, &:focus, &:focus-visible
        color: $tit-fcs
.tit-imp
    color: $tit !important
    &:hover, &:active, &:focus, &:focus-visible
        color: $tit-fcs !important
    
$tid: #343434
$tid-fcs: #2c2c2c
.tid
    color: $tid
    &:hover, &:active, &:focus, &:focus-visible
        color: $tid-fcs
.tid-imp
    color: $tid !important
    &:hover, &:active, &:focus, &:focus-visible
        color: $tid-fcs !important

$tis: #666
$tis-fcs: #565656
.tis
    color: $tis
    &:hover, &:active, &:focus, &:focus-visible
        color: $tis-fcs
.tis-imp
    color: $tis !important
    &:hover, &:active, &:focus, &:focus-visible
        color: $tis-fcs !important

$sus: #bfbfbf
$sus-fcs: #acacac
.sus
    color: $sus
    &:hover, &:active, &:focus, &:focus-visible
        color: $sus-fcs
.sus-imp
    color: $sus !important
    &:hover, &:active, &:focus, &:focus-visible
        color: $sus-fcs !important
    
$cod-tih: #262729
$cod-tit: #262729
$cod-tid: #6f7275
$cod-tis: #7f8183
.cod-tih
    color: $cod-tih
.cod-tih-imp
    color: $cod-tih !important
.cod-tit
    color: $cod-tit
.cod-tit-imp
    color: $cod-tit !important
.cod-tid
    color: $cod-tid
.cod-tid-imp
    color: $cod-tid !important
.cod-tis
    color: $cod-tis
.cod-tis-imp
    color: $cod-tis !important

// =====================================================================
.fs
    color: $tit
    &:hover, &:active, &:focus, &:focus-visible
        color: $tit-fcs

$wht: #fff
.wht, .wht-tit
    color: $wht